[submodule "luafs"]
	path = src
	url = https://github.com/lunarmodules/luafilesystem.git
[submodule "lua"]
	path = externals/lua
	url = https://github.com/qlua-project/cmake-lua-win64
	branch = v5.4.1
